@charset "utf-8";

body
{
    font-size: large;
}

ul
{
    margin: 30px;
}

li
{
    margin:     10px;
    list-style: none;
}

ul.mark-list
{
    margin:     0px;
}
li.mark-list
{
    margin:     0px;
    list-style: square;
}

li label
{
    cursor:         pointer;
	padding-left:   48px;
    line-height:    32px;
	display:        inline-block;
	position:       relative;
}

.option-title
{
    font-weight:    bold;
}

input[type=checkbox]
{
	width:              32px;
	height:             32px;
	display:            inline-block;
	position:           absolute;
    top:                -2px;
	left:               0;
	border-radius:		6px;
    cursor:             pointer;
}

button#save
{
    margin-top: 20px;
    margin-left: 80px;
    padding: 10px 30px;
    font-size: large;
}

p#status
{
    margin-left: 80px;
    font-weight: bold;
}